body{
    font-family: arial;
    text-align: center;
}
#opponent-choice{
    width:240px;
    height:240px;
    margin-top:10px;
    background-color: grey;
}
#your-choice{
    width:240px;
    height:240px;
    margin-top:10px;
    background-color: gray;
}
#choices{
    width:240px;
    height:80px;
    margin-top: 15px;
    margin:0 auto;
}
#choices img{
    width:80px;
    height:80px;   
}
