body{
    background-color: black;
}
#h1{
    color:red;
    text-align: center;
}
#inputdiv{
    text-align: center;
}
#l1{
    color:white;
}
#b1{
    padding:8px;
    color:white;
    background-color: red;
    border-radius: 8px;
}
#divresults{
    justify-content: center;
    text-align: center;
}
#images,#result,#happy{
    padding: 15px;
}
#images img{
    margin-right: 20px;
    background-color: black;
    border-radius: 30px;
}